/* header title area font */
.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;

  
}


/* background color of header (logo part) */
.skin-blue .main-header .logo {
          background-color: white; /* backgorund color of the logo header part */
          color: black; /* title text color */
          height: 50px;

        }
        
        
/* change the background color of header (logo part) when mouse hover */
.skin-blue .main-header .logo:hover {
          background-color: orange; /* backgorund color of the logo header part on mouse hover */
          color:black;
        }
  
/* Edit the below for the header title hyperlink */
.skin-blue .main-header .logo>a {
            color: black; /* color of the hyperlink text */

          
        }
        
/* Edit the below to get the header title hyperlink hover effect */  
.skin-blue .main-header .logo>a:hover {
          color:white;  /* color of the hyperlink text on mouse hover */
          
        }
        
        
